#divHeader {
  background-image: url("img/Choosebestfood_ml_resize_x2.png");
  height: 850px;
  margin: -21px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
}

.logo {
  margin-left: 100px;
}

a {
  font-size: 20px;
  font-family: Calibri;
  color: white;
  text-decoration: none;
}

.linkNone1 {
  font-size: 45px;
  font-family: Cursive;
  color: white;
  text-decoration: none;
}

#menuNgang {
  margin-left: 800px;
  margin-top: -30px;
}

#menuNgang ul li {
  list-style-type: none;
  display: inline;
  margin-left: 50px;
}

#title1 {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 100px;
  font-family: Candara;
  color: white;
}

#p1 {
  position: absolute;
  top: 50%;
  left: 24%;
  font-size: 20px;
  color: white;
  font-family: Calibri;
}

.button {
  background-color: #CC9933;
  margin-top: 450px;
  margin-left: 43%;
  border: none;
}

.button pre {
  font-size: 14px;
  opacity: 0.9;
  padding: 10px;
  margin: 15px;
}

#pages {
  height: 700px ;
  width: 100%;
  
}

#pageTrai {
  margin-top: 21px;
  margin-left: -8px;
  height: 700px;
  width: 800px;
  float: left;
}

#pagePhai {
  margin-left: 170px;
  margin-top: 21px;
  height: 700px;
  width: 800px;
  background-image: url(img/divPages.JPG);
  background-repeat: no-repeat;
  float: left;
}

#title2 {
  font-family: Verdana;
  margin-top: 200px;
  margin-left: 55%;
  font-size: 50px;
}

#p2 {
  color: gray;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 445px;
}

#title3 {
  font-family: Courier;
  margin-left: 530px;
  margin-top: -80px;
  font-size: 20px;
}

#title4 {
  color: #FF9933;
  margin-left: 530px;
  margin-top: -15px;
  font-size: 11px;
}

#menu {
  background-color: white;
  height: 1300px;
  width: 100%;
  float: left;
}

#divDanhSach {
  padding: 20px;
  background-color: #EEEEEE;
}

#divDanhSach ul li {
  margin-left: 110px;
  display: inline;
  list-style-type: none;
  padding: 10px;
  font-family: Courier;
  font-weight: bold;
}

#divAnh {
  margin-left: 10px;
  height: 350px;
  width: 100%;
  transition: all 0.5s;
}

.Anh1 > img {
  width: 320px;
  height: 250px;
  float: left;
  padding: 10px;
  position: relative;
}

.Anh1 img:hover {
  transform: scale(1.05);
  opacity: 0.3;
}

.Anh1::before {
  content: "VINE & DRINKS";
  position: absolute;
  left: 5.5%;
  top: 1760px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

.Anh2 > img {
  padding: 10px;
  width: 320px;
  height: 250px;
  float: left;
  position: relative;
}

.Anh2 img:hover {
  transform: scale(1.05);
  opacity: 0.3;
}

.Anh2::before {
  content: "DESSERT & SHAKS";
  position: absolute;
  left: 23.5%;
  top: 1760px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

.Anh3 > img {
  padding: 10px;
  width: 320px;
  height: 250px;
  float: left;
  position: relative;
}

.Anh3 img:hover {
  transform: scale(1.05);
  opacity: 0.3;
}

.Anh3::before {
  content: "FISH & SEA FOOD";
  position: absolute;
  left: 43%;
  top: 1760px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

.Anh4 > img {
  padding: 10px;
  width: 320px;
  height: 250px;
  float: left;
  position: relative;
}

.Anh4 img:hover {
  transform: scale(1.05);
  opacity: 0.3;
}

.Anh4::before {
  content: "MEAT & MEALS";
  position: absolute;
  left: 63%;
  top: 1760px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

.Anh5 > img {
  padding: 10px;
  width: 320px;
  height: 250px;
  float: left;
  position: relative;
}

.Anh5 img:hover {
  transform: scale(1.05);
  opacity: 0.3;
}

.Anh5::before {
  content: "SALADS & LETTUCES";
  position: absolute;
  left: 80%;
  top: 1760px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

#title5 {
  font-family: Verdana;
  margin-left: 40%;
  font-size: 40px;
}

#divDanhSach2 {
  margin-top: 10px;
  margin-left: 38%;
}

#divDanhSach2 ul li {
  padding: 17px;
  display: inline;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.hoverDanhSach:hover {
  color: #CC9933;
  border-bottom: 1px solid #CC9933;
}

#menu3 {
  width: 70%;
  height: 700px;
  margin-left: 15%;
  margin-top: 5%;
}

#mon1 {
  width: 450px;
  height: 90px;
  float: left;
  background-color: white;
  margin-left: 10%;
  box-shadow: 3px 3px 3px 3px hsla(0, 0%, 0%, 0.2);
}

.anhMon {
  width: 120px;
  height: 90px;
  float: left;
}

.infoMon {
  width: 330px;
  height: 90px;
  float: left;
}

.name {
  width: 300px;
  height: 40px;
  float: left;
}

.h4infoMon {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #CC3300;
}

.h5giaTien {
  margin-left: 90%;
  font-family: Arial, Helvetica, sans-serif;
  color: #CC3300;
  margin-top: -40px;
}

.pinfoMon {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #999999;
  font-size: 12px;
  margin-top: 17%;
}

.anhDoAn {
  width: 120px;
  height: 90px;
}

#mon2 {
  width: 450px;
  height: 90px;
  float: left;
  background-color: white;
  box-shadow: 3px 3px 3px 3px hsla(0, 0%, 0%, 0.2);
  margin-left: 10%;
}

#mon3 {
  width: 450px;
  height: 90px;
  float: left;
  background-color: white;
  box-shadow: 3px 3px 3px 3px hsla(0, 0%, 0%, 0.2);
  margin-left: 10%;
  margin-top: 3%;
}

#mon4 {
  width: 450px;
  height: 90px;
  float: left;
  background-color: white;
  box-shadow: 3px 3px 3px 3px hsla(0, 0%, 0%, 0.2);
  margin-left: 10%;
  margin-top: 3%;
}

#mon5 {
  width: 450px;
  height: 90px;
  float: left;
  background-color: white;
  box-shadow: 3px 3px 3px 3px hsla(0, 0%, 0%, 0.2);
  margin-left: 10%;
  margin-top: 3%;
}

#mon6 {
  width: 450px;
  height: 90px;
  float: left;
  background-color: white;
  box-shadow: 3px 3px 3px 3px hsla(0, 0%, 0%, 0.2);
  margin-left: 10%;
  margin-top: 3%;
}

#mon7 {
  width: 450px;
  height: 90px;
  float: left;
  background-color: white;
  box-shadow: 3px 3px 3px 3px hsla(0, 0%, 0%, 0.2);
  margin-left: 10%;
  margin-top: 3%;
}

#mon8 {
  width: 450px;
  height: 90px;
  float: left;
  background-color: white;
  box-shadow: 3px 3px 3px 3px hsla(0, 0%, 0%, 0.2);
  margin-left: 10%;
  margin-top: 3%;
}

#gallery {
  width: 100%;
  height: 550px;
  position: relative;
  float: left;
  margin-top: 200px;
}

#divGallery {
  width: 90%;
  height: 550px;
  margin-left: 5%;
  background-image: url("img/backgroud_divGallery.png");
  background-size: 100% 100%;
  float: left;
  background-repeat: no-repeat;
  position: absolute;
  filter: brightness(25%);
}

#h1Gallery {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  color: white;
  position: absolute;
  top: 100px;
  left: 42%;
}

#form1 {
  position: absolute;
  top: 300px;
  left: 27%;
}

#date {
  color: #999999;
  padding: 12px;
  margin: 10px;
}

#time {
  color: #999999;
  padding: 12px;
  margin: 10px;
}

#person {
  color: #999999;
  padding: 12px;
  margin: 10px;
}

#findtable {
  color: white;
  padding: 14px;
  background-color: #FF3333;
  border: none;
  margin: 10px;
}

#findtable:hover {
  transform: scale(1.1); ;
}

#blog {
  width: 100%;
  height: 800px;
  background-image: url("img/backgroud_divMeetoutchief.jpg");
  float: left;
}

#h2blog {
  font-family: "Verdana";
  font-weight: bold;
  margin-top: 200px;
  margin-left: 44%;
}

#pblog {
  font-family: Brush Script MT;
  margin-left: 47%;
  font-size: 23px;
  color:#FF6600;
  font-weight: bold;
}

#infoChief {
  margin-left: 15%;
  width: 70%;
  height: 400px;
}

#Chief1 {
  width: 25%;
  height: 400px;
  float: left;
}

.Anh {
  margin: 15px;
  width: 90%;
  height: 70%;
}

.info {
  margin: 15px;
  width: 90%;
  height: 20%;
}

#Chief2 {
  width: 25%;
  height: 400px;
  float: left;
}

#Chief3 {
  width: 25%;
  height: 400px;
  float: left;
}

#Chief4 {
  width: 25%;
  height: 400px;
  float: left;
}

.imgChief {
  width: 90%;
  height: 100%;
  margin-left: 12px;
}

.nameChief {
  font-family: "Verdana";
  margin-left: 85px;
}

.infoChief {
  font-family: "Calibiri";
  font-size: 10px;
  font-weight: bold;
  margin-top: -15px;
  margin-left: 85px;
  color: #FF9933;
}

.contactChief {
  font-size: 30px;
  margin-left: 75px;
}

.face {
  color: #3399FF;
  font-size: 35px;
}

.face:hover {
  color: blue;
}

.twit {
  color: #3399FF;
  font-size: 35px;
}

.twit:hover {
  color: blue;
}

.ins {
  color: #FFCC99;
  font-size: 35px;
}

.ins:hover {
  color: #FF9900;
}

#contacts {
  margin-left: 2.5%;
  width: 95%;
  height: 1400px;
  background-color: black;
  float: left;
}

#full_divSub {
  width: 100%;
  height: 450px;
  background-color: red;
  position: relative;
}

#divSubscribe {
  width: 100%;
  height: 450px;
  background-image: url("img/Choosebestfood_ml_resize_x2.png");
  background-repeat: no-repeat;
  background-size: 100% 550px;
  filter: brightness(50%);
}

#h1Contacts {
  position: absolute;
  top: 100px;
  font-family: Impact;
  color: white;
  font-size: 40px;
  font-weight: lighter;
  left: 50%;
  transform: translateX(-50%);
}

#pContact {
  font-family: Brush Script MT;
  font-size: 23px;
  color:#FF6600;
  font-weight: bold;
  position: absolute;
  left: 46.5%;
  right: 0;
  bottom: 220px;
}

#form2 {
  position: absolute;
  left: 33%;
  right: 0;
  bottom: 120px;
}

#mail {
  width: 50%;
  height: 45px;
  color:#999999;
  padding-left: 20px;
}

#inputSub{
  width: 80%;
  height: 40px;
  border: none;
  background-color: #FF3300;
  color: #EEEEEE;
  font-weight: bold;
}

#buttonSUB {
  width: 14%;
  height: 40px;
  position: absolute;
  top: 6px;
  left: 450px;
  bottom: 0;
}

#inputSub {
  padding-right: 100px;
}

#iconSEND {
  color: white;
  font-size: 25px;
  position: absolute;
  left: 95px;
  top: 6px;
  bottom: 0;
}

#buttonSUB:hover {
  transform: scale(1.1);
}

.contactChief2 {
  font-size: 30px;
  position: absolute;
  left: 44%;
  bottom: 50px;
}

.face2 {
  padding: 10px;
  color: #3399FF;
  font-size: 35px;
}

.twit2 {
  padding: 10px;
  color: #3399FF;
  font-size: 35px;
}

.ins2 {
  padding: 10px;
  color: #FFCC99;
  font-size: 35px;
}

#divGetInTouch {
  width: 100%;
  height: 950px;
  position: relative;
}

#divTren {
  width: 100%;
  height: 475px;
  background-image: url("img/map.png");
}

#divDuoi {
  width: 100%;
  height: 475px;
  background-color:	#3e3e3e;
}

#GetInTouch {
  width: 900px;
  height: 500px;
  position: absolute;
  left: 25%;
  bottom: 20%;
  box-shadow: 0px 0px 25px 1px black;
}

#div_Trai {
  width: 450px;
  height: 100%;
  background-color: white;
  float: left;
}

#h1GetInTouch {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 25%;
  margin-left: 50px;
  color: hsla(0, 0%, 0%, 0.6);
}

#form3 {
  margin: 100px;
  margin-top: 15px;
  border: none;
}

#form3 input[type=text] {
  width: 100%;
  padding: 12px 2px;
  margin-left: -50px;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #999999;
  color: #999999;
}

#smessage {
  margin-left: -50px;
  margin-top: 35px;
  padding: 10px;
  background-color: white;
  border: 1px solid #999999;
  color: #999999;
}

#smessage:hover {
  background-color: #999999;
  color: white;
  border-radius: 2px;
}

#div_Phai {
  width: 450px;
  height: 100%;
  background-color: #ac8949;
  float: left;
}

#preInfo {
  margin-left: 50px;
  margin-top: 120px;
  color: white;
}

#h2Info {
  margin-left: 50px;
  color: white;
  font-family: Helvetica;
  font-size: 25px;
}

#address {
  width: 80%;
  height: 60px;
  margin-left: 11%;
}

.Iconaddress {
  color: #EEEEEE;
  font-size: 35px;
}

.Info {
  margin-top: -42px;
  margin-left: 13%;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  color: #DDDDDD;
}

#sdt {
  width: 80%;
  height: 60px;
  margin-left: 11%;
  padding-top: 20px;
}

.Iconsdt {
  color: #EEEEEE;
  font-size: 35px;
}

#sendEmail {
  width: 80%;
  height: 60px;
  margin-left: 11%;
  padding-top: 20px;
}

.IconEmail {
  color: #EEEEEE;
  font-size: 35px;
}